<main>
   <form class="search-bar" action="/search" method="POST">
      <div class="form-control">
         <label for="searchbar">Search</label>
         <input type="text" name="searchbar" id="searchbar" placeholder="what did you forget?">
      </div>

      <button class="btn" type="submit">Search</button>
   </form>
</main>
