<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title> {{ pageTitle }} </title>
</head>
<body>

   <header class="admin-header">
      <nav class="admin-header__nav">
         <ul class="admin-header__item-list">
            <li class="admin-header__item"><a href="/">Home</a></li>
            <li class="admin-header__item"><a href="/admin/add-spell">Add Spells</a></li>
            <li class="admin-header__item"><a href="/admin/add-race">Add Races</a></li>
            <li class="admin-header__item"><a href="/admin/add-class">Add Classes</a></li>
         </ul>
      </nav>
   </header>

   {{{ body }}}
   
</body>
</html>