<header class="main-header">
   <nav class="main-header__hav">
      <ul class="main-header__item-list">
         <li class="main-header__item"><a href="/"></a></li>
         <li class="main-header__item"><a href="/foo"></a></li>
         <li class="main-header__item"><a href="/bar"></a></li>
      </ul>
   </nav>
</header>